@import "layout/var";

body {
    font-family: $mus300;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
button,input{
    outline: none;
}
header {
    position: relative;
}
.navbar-collapse {
    padding: 0;
}

a:focus{
    outline: none;
}

.navbar-toggle {
    position: absolute;
    right: 0;
    top: -45px;
    z-index: 20;
    float: none;
    .icon-bar {
        background: #000;
    }
}